/*
Theme: Vikasfit Landing
Author: Andrey Galkin
Version: 1.1
*/

/* IMPORT FILES */

@import url("../fonts/GothamPro/stylesheet.css");

/* ROOT */

:root {
	--color-1: #000;
	--color-2: #fff;
	--color-3: #b92e83;
	--color-4: #ebf935;
	--color-5: #bdc923;
	--color-6: #8d939f;
	--font-main: 'Gotham Pro', sans-serif;
	--fw-normal: normal;
	--fw-500: 500;
	--fw-900: 900;
	--swiper-theme-color: #ffffff;
	--swiper-navigation-size: 24px;
}

/* BASE STYLES */

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-main);
	font-size: 18px;
	font-weight: var(--fw-500);
	line-height: 1.4;
	color: var(--color-1);
	background-color: var(--color-2);
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

.bg-img {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-img-left-top {
	background-position: 0% 0%;
}

.flex-grow-2 {
	flex-grow: 2;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

.flex-shrink-1 {
	flex-shrink: 1;
}

::-moz-selection {
	background: var(--color-3);
	color: var(--color-2);
}

::selection {
	background: var(--color-3);
	color: var(--color-2);
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: var(--font-main);
	line-height: 1.2;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
	font-weight: var(--fw-900);
	margin-top: 0;
	margin-bottom: 20px;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
	font-weight: var(--fw-500);
	margin-top: 0;
	margin-bottom: 15px;
}

h1,
.h1 {
	font-size: 32px;
}

h2,
.h2 {
	font-size: 24px;
}

h3,
.h3 {
	font-size: 22px;
}

h4,
.h4 {
	font-size: 20px;
}

h5,
.h5 {
	font-size: 18px;
}

h6,
.h6 {
	font-size: 18px;
}

p {
	margin-top: 0;
	margin-bottom: 16px;
}

/* LINKS */

a {
	color: var(--color-3);
	font-weight: var(--fw-900);
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease
}

a:hover {
	color: var(--color-1);
	text-decoration: none;
	outline: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* BUTTONS */

.btn {
	color: var(--color-2);
	padding: 14px 28px;
	margin: 0;
	font-size: 16px;
	font-weight: var(--fw-900);
	text-transform: uppercase;
	border: 2px solid;
	border-color: transparent;
	border-radius: 6px;
	background-color: var(--color-1);
	transition: all 0.3s ease;
}

.btn-primary {
	color: var(--color-1);
	border-color: var(--color-4);
	background-color: var(--color-4);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:disabled,
.btn-primary.disabled {
	color: var(--color-1);
	border-color: var(--color-5);
	background-color: var(--color-5);
}

.btn-xl {
	padding: 18px 38px;
}

.btn-lg {
	padding: 12px 32px;
}

/* FORMS */

.form-control {
	height: 55px;
}

.form-control:active,
.form-control:focus {
	border-color: #000;
}

.form-control:hover,
.form-control:focus,
.form-control:active {
	outline: none;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* ANIMATIONS */

.hover-shine:hover {
	opacity: 1;
	-webkit-animation: flash .8s;
	animation: flash .8s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .65
	}

	100% {
		opacity: 1
	}
}

@keyframes flash {
	0% {
		opacity: .65
	}

	100% {
		opacity: 1
	}
}

.hover-opacity {
	opacity: 1;
	transition: opacity 0.3s ease;
}

.hover-opacity:hover {
	opacity: .65;
}

/* BASIC STYLE */

.color-1 {
	color: var(--color-1);
}

.color-2 {
	color: var(--color-2);
}

.color-3 {
	color: var(--color-3);
}

.color-4 {
	color: var(--color-4);
}

.color-5 {
	color: var(--color-5);
}

.color-6 {
	color: var(--color-6);
}

.color-1-hover:hover {
	color: var(--color-1);
}

.color-2-hover:hover {
	color: var(--color-2);
}

.color-3-hover:hover {
	color: var(--color-3);
}

.color-4-hover:hover {
	color: var(--color-4);
}

.bg-color-1 {
	background-color: var(--color-1);
}

.bg-color-2 {
	background-color: var(--color-2);
}

.bg-color-3 {
	background-color: var(--color-3);
}

.bg-color-4 {
	background-color: var(--color-4);
}

.fz-48 {
	font-size: 24px;
}

.fz-42 {
	font-size: 24px;
}

.fz-32 {
	font-size: 24px;
}

.fz-28 {
	font-size: 20px;
}

.fz-18 {
	font-size: 18px;
}

.fz-16 {
	font-size: 16px;
}

.fz-14 {
	font-size: 14px;
}

.fw-normal {
	font-weight: normal;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.py-lg {
	padding-top: 80px;
	padding-bottom: 80px;
}

.white-space-nowrap {
	white-space: nowrap;
}

.opacity-half {
	opacity: .5;
}

.ul-check {
	margin-bottom: 50px
}

.ul-check li {
	position: relative;
	padding-left: 35px;
	margin-bottom: 15px;
	line-height: 1.5
}

.ul-check li:before {
	left: 0;
	font-size: 20px;
	top: -.3rem;
	font-family: "icomoon";
	content: "\e5ca";
	position: absolute
}

.ul-check.white li:before {
	color: #fff
}

.ul-check.success li:before {
	color: #28a745
}

.ul-check.primary li:before {
	color: #333
}

/* Site Menu */

.site-wrap {
	position: relative;
}

.site-wrap::before {
	-webkit-transition: .3s all ease-in-out;
	-o-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
	background: rgba(0, 0, 0, .6);
	content: "";
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden
}

.offcanvas-menu .site-wrap {
	height: 100%;
	width: 100%;
	z-index: 2;
	overflow: hidden
}

.offcanvas-menu .site-wrap::before {
	opacity: 1;
	visibility: visible
}

.offcanvas-menu {
	position: relative
}

.offcanvas-menu::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	top: 0;
	right: 0;
	z-index: 21;
	background: rgba(0, 0, 0, .2)
}

/* Site Navigation */

.site-logo {
	position: relative;
}

.site-navbar {
	width: 100%;
	padding-top: 24px;
	padding-bottom: 24px;
}

.site-navbar .site-navigation .site-menu {
	margin: 0;
	padding: 0;
}

.site-navbar .site-navigation .site-menu .active {
	position: relative;
	color: var(--color-4);
}

.site-navbar .site-navigation .site-menu .active::after {
	-webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.site-navbar .site-navigation .site-menu>li {
	display: inline-block
}

.site-navbar .site-navigation .site-menu>li>a {
	position: relative;
	display: inline-block;
	padding: 5px 20px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
}

.site-navbar .site-navigation .site-menu>li>a::after {
	height: 2px;
    background: var(--color-4);
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
	color: var(--color-4);
}

.site-navbar .site-navigation .site-menu .has-children {
	position: relative;
}

.site-navbar .site-navigation .site-menu .has-children>a {
	position: relative;
	padding-right: 20px
}

.site-navbar .site-navigation .site-menu .has-children>a::before {
	position: absolute;
	content: "\e313";
	font-size: 16px;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: 'icomoon'
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
	visibility: hidden;
	opacity: 0;
	top: 100%;
	position: absolute;
	text-align: left;
	border-top: 2px solid #333;
	-webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 10px -2px rgba(0, 0, 0, .1);
	padding: 0 0;
	margin-top: 20px;
	margin-left: 0;
	background: #fff;
	-webkit-transition: .2s 0s;
	-o-transition: .2s 0s;
	transition: .2s 0s
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
	text-transform: none;
	letter-spacing: normal;
	-webkit-transition: 0s all;
	-o-transition: 0s all;
	transition: 0s all;
	color: #343a40
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a {
	color: #333;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
	list-style: none;
	padding: 0;
	margin: 0;
	min-width: 200px
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
	padding: 9px 20px;
	display: block
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
	background: #ebeef0;
	color: #212529
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a::before {
	content: "\e315";
	right: 20px
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
	left: 100%;
	top: 0
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
	background: #ebeef0;
	color: #212529
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children:focus>a,
.site-navbar .site-navigation .site-menu .has-children:active>a {
	color: #333
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
	cursor: pointer
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	margin-top: 0;
	visibility: visible;
	opacity: 1
}

/* MOBILE MENU */

.site-mobile-menu {
	width: 300px;
	position: fixed;
	right: 0;
	z-index: 1050;
	padding-top: 60px;
	background: #fff;
	height: calc(100vh);
	-webkit-transform: translateX(110%);
	-ms-transform: translateX(110%);
	transform: translateX(110%);
	-webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, .1);
	box-shadow: -10px 0 20px -10px rgba(0, 0, 0, .1);
	-webkit-transition: .3s all ease-in-out;
	-o-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out
}

.offcanvas-menu .site-mobile-menu {
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%)
}

.js-menu-toggle {
	border: none;
	background: transparent;
}

.js-menu-toggle .icon-bar {
	background-color: #fff;
	transform: rotate(0deg) translate(0px, 0px);
	transition: ease all .2s;
}

.js-menu-toggle .icon-bar {
	display: block;
	width: 28px;
	height: 3px;
	border-radius: 0;
}

.js-menu-toggle .icon-bar+.icon-bar {
	margin-top: 6px;
}

.site-mobile-menu .js-menu-toggle {
	position: fixed;
	top: 20px;
	right: 20px;
}

.site-mobile-menu .js-menu-toggle .icon-bar {
	background-color: #000;
}

.site-mobile-menu .js-menu-toggle .icon-bar:nth-child(1) {
	transform: rotate(45deg) translate(6px, 6px);
	transition: ease all .2s;
}

.site-mobile-menu .js-menu-toggle .icon-bar:nth-child(2) {
	opacity: 0;
	transition: ease all .2s;
}

.site-mobile-menu .js-menu-toggle .icon-bar:nth-child(3) {
	transform: rotate(-45deg) translate(7px, -7px);
	transition: ease all .2s;
}

.site-mobile-menu .nav a {
	color: #212529;
	font-weight: 500;
	padding: 15px 20px;
}

.site-mobile-menu .site-mobile-menu-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	padding: 0 20px 20px 20px;
	height: calc(100vh - 52px);
	padding-bottom: 150px
}

.site-mobile-menu .site-nav-wrap {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative
}

.site-mobile-menu .site-nav-wrap a {
	padding: 15px 20px;
	display: block;
	position: relative;
	color: #212529;
	text-transform: uppercase;
	font-weight: 500;
}

.site-mobile-menu .site-nav-wrap a:hover {
	color: #333;
}

.site-mobile-menu .site-nav-wrap .btn {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
}

.site-mobile-menu .site-nav-wrap li {
	position: relative;
	display: block
}

.site-mobile-menu .site-nav-wrap li .active {
	color: #dc3545
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
	position: absolute;
	right: 0;
	top: 10px;
	z-index: 20;
	width: 36px;
	height: 36px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
	background: #f8f9fa
}

.site-mobile-menu .site-nav-wrap .arrow-collapse::before {
	font-size: 12px;
	z-index: 20;
	font-family: "icomoon";
	content: "\f078";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(-180deg);
	-ms-transform: translate(-50%, -50%) rotate(-180deg);
	transform: translate(-50%, -50%) rotate(-180deg);
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed::before {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.site-mobile-menu .site-nav-wrap>li {
	display: block;
	position: relative;
	float: left;
	width: 100%
}

.site-mobile-menu .site-nav-wrap>li>a {
	padding-left: 20px;
	font-size: 20px
}

.site-mobile-menu .site-nav-wrap>li>ul {
	padding: 0;
	margin: 0;
	list-style: none
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
	display: block
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
	padding-left: 40px;
	font-size: 16px
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
	padding: 0;
	margin: 0
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
	display: block
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
	font-size: 16px;
	padding-left: 60px
}

/* FIXED MENU */

.nav-fixed {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: rgba(0, 0, 0, 0.9) !important;
	box-shadow: 0 3px 6px rgb(0 0 0 / 1%), 0 3px 6px rgb(0 0 0 / 1%);
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

/* MAIN PAGE CONTENT */

.main {
	min-height: 100vh;
	overflow: hidden;
}

/* SECTION-01 */

.section-01 {
	min-height: 100vh;
	padding-top: 160px;
	padding-bottom: 128px;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: cover;
}

/* SECTION-04 */

.section-04__container-01 {
	padding-top: 80px;
	padding-bottom: 320px;
}

.section-04__container-02 {
	margin-top: -288px;
	padding-bottom: 0;
}

.nav-pills .nav-link {
	color: var(--color-2);
	font-size: 16px;
	font-weight: var(--fw-900);
	text-transform: uppercase;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: var(--color-1);
	background-color: var(--color-4);
}

.swiper-slide {
	height: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: -24px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: -24px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: 1;
	background-color: #ccc;
}

.swiper-button-next,
.swiper-button-prev {
	background-color: #000;
	padding: 24px;
	border-radius: 50%;
}

.pricing-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	padding: 30px;
	border: 2px solid;
	border-color: #000;
	border-radius: 8px;
	background-color: #fff;
}

.pricing-box.pricing-popular {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	z-index: 2
}

.pricing-box h3 {
	color: #333;
	font-weight: 500;
}

.pricing-box .description {
	font-size: 14px;
}

.pricing-box ul.description {
	padding-left: 20px;
}

.pricing-box .price {
	margin: 30px 0;
	color: #ccc;
	font-size: 28px;
}

.pricing-box .price strong {
	color: #333;
	font-weight: 900;
}

/* FOOTER */

.footer {
	padding-top: 80px;
	padding-bottom: 80px;
}

.footer a {
	color: #8d939f;
}

.footer a:hover {
	color: #fff;
}

/* MODALS */

.info-modal .btn-close {
	font-size: 32px;
	padding: 16px;
}

/* ----------------------------------------- */
/* ----------------- MEDIA ----------------- */
/* ----------------------------------------- */

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {

	h1,
	.h1 {
		font-size: 48px;
	}

	h2,
	.h2 {
		font-size: 42px;
	}

	h3,
	.h3 {
		font-size: 32px;
	}

	h4,
	.h4 {
		font-size: 28px;
	}

	h5,
	.h5 {
		font-size: 18px;
	}

	h6,
	.h6 {
		font-size: 18px;
	}

	.fz-48 {
		font-size: 48px;
	}

	.fz-42 {
		font-size: 42px;
	}

	.fz-32 {
		font-size: 32px;
	}

	.fz-28 {
		font-size: 28px;
	}

}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}