@import url("modules/swiper/swiper-bundle.min.css");
@import url("modules/fancybox/fancybox.css");

@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro.woff2') format('woff2'),
        url('fonts/GothamPro.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Light.woff2') format('woff2'),
        url('fonts/OpenSans-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Medium.woff2') format('woff2'),
        url('fonts/OpenSans-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

:root {
    --vm-black: #000000;
    --vm-white: #ffffff;
    --vm-gray: #8d939f;
    --vm-gray-dark: #343a40;
    --vm-gray-100: #f8f9fa;
    --vm-gray-200: #e9ecef;
    --vm-gray-300: #dee2e6;
    --vm-gray-400: #ced4da;
    --vm-gray-500: #adb5bd;
    --vm-gray-600: #6c757d;
    --vm-gray-700: #495057;
    --vm-gray-800: #343a40;
    --vm-gray-900: #212529;
    --vm-primary: #b92e83;
    --vm-secondary: #6c757d;
    --vm-light: #f8f9fa;
    --vm-dark: #cdc4b3;
    --vm-light-rgb: 248, 249, 250;
    --vm-dark-rgb: 205, 196, 179;
    --vm-font-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --vm-font-title: "Gotham Pro", serif;
    --vm-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --vm-body-font-family: var(--vm-font-sans-serif);
    --vm-body-font-size: 1rem;
    --vm-body-font-weight: 400;
    --vm-body-line-height: 1.5;
    --vm-body-color: #212529;
    --vm-body-color-rgb: 33, 37, 41;
    --vm-body-bg: #e0dcd1;
    --vm-body-bg-rgb: 224, 220, 209;
    --vm-heading-color: #4c3421;
    --vm-link-color: #b92e83;
    --vm-link-color-rgb: 185, 46, 131;
    --vm-link-decoration: underline;
    --vm-link-hover-color: #000000;
    --vm-link-hover-color-rgb: 0, 0, 0;
    --vm-border-width: 1px;
    --vm-border-style: solid;
    --vm-border-color: #dee2e6;
    --vm-border-color-translucent: rgba(0, 0, 0, 0.175);
    --vm-border-radius: 0.375rem;
    --vm-border-radius-lg: 0.5rem;
    --vm-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--vm-body-font-family);
    font-size: var(--vm-body-font-size);
    font-weight: var(--vm-body-font-weight);
    line-height: var(--vm-body-line-height);
    color: var(--vm-body-color);
    text-align: var(--vm-body-text-align);
    background-color: var(--vm-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: var(--vm-font-title);
    font-weight: 400;
    line-height: 1.25;
    color: var(--vm-heading-color);
}

h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {

    h1,
    .h1 {
        font-size: 2.5rem;
    }
}

h2,
.h2 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {

    h2,
    .h2 {
        font-size: 2rem;
    }
}

h3,
.h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {

    h3,
    .h3 {
        font-size: 1.75rem;
    }
}

h4,
.h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {

    h4,
    .h4 {
        font-size: 1.5rem;
    }
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.text-small {
    font-size: 80%;
}

.text-muted {
    color: var(--vm-gray-600);
}

.ff-title {
    font-family: var(--vm-font-title);
}

ol,
ul {
    padding-left: 2rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

a {
    color: rgba(var(--vm-link-color-rgb), var(--vm-link-opacity, 1));
    text-decoration: underline;
}

a:hover {
    --vm-link-color-rgb: var(--vm-link-hover-color-rgb);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

img,
svg {
    vertical-align: middle;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container {
    --vm-gutter-x: 1.5rem;
    --vm-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--vm-gutter-x) * 0.5);
    padding-left: calc(var(--vm-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.row {
    --vm-gutter-x: 1.5rem;
    --vm-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--vm-gutter-y));
    margin-right: calc(-0.5 * var(--vm-gutter-x));
    margin-left: calc(-0.5 * var(--vm-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--vm-gutter-x) * 0.5);
    padding-left: calc(var(--vm-gutter-x) * 0.5);
    margin-top: var(--vm-gutter-y);
}

.col {
    flex: 1 0 0%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

.col-25 {
    flex: 0 0 auto;
    width: 25%;
}

.col-50 {
    flex: 0 0 auto;
    width: 50%;
}

@media (min-width: 992px) {
    .col-lg {
        flex: 1 0 0%;
    }

    .col-lg-25 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-50 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.btn {
    --vm-btn-padding-x: 1.75rem;
    --vm-btn-padding-y: 0.375rem;
    --vm-btn-font-family: ;
    --vm-btn-font-size: 1rem;
    --vm-btn-font-weight: 500;
    --vm-btn-line-height: 1.5;
    --vm-btn-color: var(--vm-body-color);
    --vm-btn-bg: transparent;
    --vm-btn-border-width: var(--vm-border-width);
    --vm-btn-border-color: transparent;
    --vm-btn-border-radius: var(--vm-border-radius);
    --vm-btn-hover-border-color: transparent;
    --vm-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --vm-btn-disabled-opacity: 0.65;
    --vm-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--vm-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--vm-btn-padding-y) var(--vm-btn-padding-x);
    font-family: var(--vm-btn-font-family);
    font-size: var(--vm-btn-font-size);
    font-weight: var(--vm-btn-font-weight);
    line-height: var(--vm-btn-line-height);
    color: var(--vm-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--vm-btn-border-width) solid var(--vm-btn-border-color);
    border-radius: var(--vm-btn-border-radius);
    background-color: var(--vm-btn-bg);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: var(--vm-btn-hover-color);
    background-color: var(--vm-btn-hover-bg);
    border-color: var(--vm-btn-hover-border-color);
}

.btn-primary {
    --vm-btn-color: #7f776a;
    --vm-btn-bg: #cdc4b3;
    --vm-btn-border-color: #7f776a;
    --vm-btn-hover-color: #7f776a;
    --vm-btn-hover-bg: #e4e0d5;
    --vm-btn-hover-border-color: #7f776a;
    --vm-btn-focus-shadow-rgb: 84, 87, 205;
    --vm-btn-active-color: #7f776a;
    --vm-btn-active-bg: #e4e0d5;
    --vm-btn-active-border-color: #7f776a;
    --vm-btn-active-shadow: unset;
    --vm-btn-disabled-color: #7f776a;
    --vm-btn-disabled-bg: #e4e0d5;
    --vm-btn-disabled-border-color: #7f776a;
}

.btn-secondary {
    --vm-btn-color: #7f776a;
    --vm-btn-bg: #e4e0d5;
    --vm-btn-border-color: #7f776a;
    --vm-btn-hover-color: #7f776a;
    --vm-btn-hover-bg: #cdc4b3;
    --vm-btn-hover-border-color: #7f776a;
    --vm-btn-focus-shadow-rgb: 84, 87, 205;
    --vm-btn-active-color: #7f776a;
    --vm-btn-active-bg: #cdc4b3;
    --vm-btn-active-border-color: #7f776a;
    --vm-btn-active-shadow: unset;
    --vm-btn-disabled-color: #7f776a;
    --vm-btn-disabled-bg: #cdc4b3;
    --vm-btn-disabled-border-color: #7f776a;
}

.btn-lg {
    --vm-btn-padding-x: 2.5rem;
    --vm-btn-padding-y: 0.5rem;
    --vm-btn-font-size: 1.25rem;
    --vm-btn-border-radius: var(--vm-border-radius-lg);
}

.card {
    --vm-card-spacer-y: 1rem;
    --vm-card-spacer-x: 1rem;
    --vm-card-title-spacer-y: 0.5rem;
    --vm-card-title-color: ;
    --vm-card-subtitle-color: ;
    --vm-card-border-width: var(--vm-border-width);
    --vm-card-border-color: var(--vm-border-color-translucent);
    --vm-card-border-radius: var(--vm-border-radius);
    --vm-card-box-shadow: ;
    --vm-card-inner-border-radius: calc(var(--vm-border-radius) - (var(--vm-border-width)));
    --vm-card-cap-padding-y: 0.5rem;
    --vm-card-cap-padding-x: 1rem;
    --vm-card-cap-bg: var(--vm-body-bg);
    --vm-card-cap-color: ;
    --vm-card-height: ;
    --vm-card-color: ;
    --vm-card-bg: var(--vm-body-bg);
    --vm-card-img-overlay-padding: 1rem;
    --vm-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--vm-card-height);
    color: var(--vm-body-color);
    word-wrap: break-word;
    background-color: var(--vm-card-bg);
    background-clip: border-box;
    border: var(--vm-card-border-width) solid var(--vm-card-border-color);
    border-radius: var(--vm-card-border-radius);
}

.card-header {
    padding: var(--vm-card-cap-padding-y) var(--vm-card-cap-padding-x);
    background-color: var(--vm-card-cap-bg);
}

.card-body {
    flex: 1 1 auto;
    padding: var(--vm-card-spacer-y) var(--vm-card-spacer-x);
    color: var(--vm-card-color);
}

.card-title {
    margin-bottom: var(--vm-card-title-spacer-y);
    color: var(--vm-card-title-color);
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-footer {
    padding: var(--vm-card-cap-padding-y) var(--vm-card-cap-padding-x);
    color: var(--vm-card-cap-color);
    background-color: var(--vm-card-cap-bg);
}

.card-footer:last-child {
    border-radius: 0 0 var(--vm-card-inner-border-radius) var(--vm-card-inner-border-radius);
}

.card-img {
    width: 100%;
}

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-dark {
    --vm-bg-opacity: 1;
    background-color: rgba(var(--vm-dark-rgb), var(--vm-bg-opacity));
}

.swiper {
    --swiper-theme-color: var(--vm-body-color);
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-inactive-color: var(--vm-body-color);
}

.swiper:has(.swiper-pagination) .swiper-wrapper {
    margin-bottom: 48px;
}

/* .swiper .btn-prev,
.swiper .btn-next {
    --btn-icon-size: 2rem;
    --vm-btn-font-size: 1.5rem;
    --vm-btn-color: #fff;
    --vm-btn-bg: #000;
    --vm-btn-border-color: transparent;
    --vm-btn-hover-color: #fff;
    --vm-btn-hover-bg: #000;
    --vm-btn-hover-border-color: transparent;
    --vm-btn-active-color: #fff;
    --vm-btn-active-bg: #000;
    --vm-btn-active-border-color: transparent;
    --vm-btn-disabled-color: #fff;
    --vm-btn-disabled-bg: #000;
    --vm-btn-disabled-border-color: transparent;
    position: absolute;
    top: 50%;
    margin-top: calc(0px - (var(--btn-icon-size)/2));
    opacity: 1;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, opacity 0.3s ease-in-out, left 0.3s ease-in-out, right 0.3s ease-in-out;
    z-index: 10;
}

.swiper .btn-prev {
    left: 0;
    right: auto;
}

.swiper .btn-next {
    right: 0;
    left: auto;
}

.swiper .btn-prev:disabled,
.swiper .btn-prev.disabled,
.swiper .btn-next:disabled,
.swiper .btn-next.disabled {
    opacity: 0 !important;
} */

@media (min-width: 992px) {

    /* .swiper .btn-prev,
    .swiper .btn-next {
        --btn-icon-size: 2.5rem;
        --vm-btn-font-size: 1.75rem;
        opacity: 0;
    }

    .swiper .btn-prev {
        left: -1rem;
        right: auto;
    }

    .swiper .btn-next {
        right: -1rem;
        left: auto;
    }

    .swiper:hover .btn-prev,
    .swiper:hover .btn-next {
        opacity: 1;
    }

    .swiper:hover .btn-prev {
        left: 0;
    }

    .swiper:hover .btn-next {
        right: 0;
    } */
}

.overflow-hidden {
    overflow: hidden;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.mb-2 {
    margin-bottom: 2rem;
}

@media (min-width: 992px) {
    .d-lg-block {
        display: block;
    }

    .d-lg-none {
        display: none;
    }

    .text-lg-start {
        text-align: left;
    }

    .text-lg-end {
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .d-xl-block {
        display: block;
    }
}

/*//////////////////////////////////////////////////////////////////
[ HEADER ]*/

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 1.5rem 0;
    background-color: transparent;
    z-index: 999;
}

/*//////////////////////////////////////////////////////////////////
[ FOOTER ]*/

.footer {
    --vm-link-color: #8d939f;
    --vm-link-hover-color: #fff;
    --vm-bg-opacity: 1;
    margin-top: 4rem;
    padding: 1rem 0;
    background-color: rgba(var(--vm-black-rgb), var(--vm-bg-opacity));
}

.footer-copyright {
    text-align: center;
}

/*//////////////////////////////////////////////////////////////////
[ SECTIONS ]*/

.section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.section .section-heading {
    margin-bottom: 2rem;
}

/* section-hero */

.section-hero {
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-hero__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    height: 60vh;
    padding: 70px 0;
    z-index: 5;
}

@media (min-width: 992px) {
    .section-hero__inner {
        min-height: 750px;
        height: 100vh;
    }
}

/* section-cta */

.section-cta {
    position: relative;
}

/* section-about */

.section-about {
    position: relative;
}

/* section-price */

.section-price {
    overflow: hidden;
}

.section-price .section-heading {
    text-align: center;
}

.section-price .section-title {}

.section-price .section-subtitle {
    color: rgba(var(--vm-body-color-rgb), 0.55);
}

.section-price__cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem 1rem;
}

.swiperPrice {
    /* overflow: visible; */
}

.swiperPrice .swiper-slide {
    width: 90%;
    height: auto;
}

.swiperPrice .swiper-slide > * {
    height: 100%;
}

.card-pricing {}

.card-pricing .card-header {
    height: 75px;
    text-align: center;
    padding-top: calc(var(--vm-card-cap-padding-y) + var(--vm-card-title-spacer-y));
}

.card-pricing .card-footer {
    padding-bottom: calc(var(--vm-card-cap-padding-y) + var(--vm-card-title-spacer-y));
}

.card-pricing .card-price {
    text-align: center;
    padding: var(--vm-card-cap-padding-y) var(--vm-card-cap-padding-x);
    border-bottom: var(--vm-card-border-width) solid var(--vm-card-border-color);
}

.card-pricing .card-price__old {
    color: var(--vm-gray);
    font-size: calc(1.3rem + .6vw);
    text-decoration: line-through;
    margin-right: 0.5rem;
}

.card-pricing .card-price__actual {
    font-size: calc(1.325rem + .9vw);
    font-weight: 500;
}

@media (max-width: 991px) {
    .swiperPrice .swiper-button-prev,
    .swiperPrice .swiper-button-next {
        display: none;
    }
}

@media (min-width: 992px) {
    .section-price__cards-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .swiperPrice .swiper-slide {
        width: 480px;
    }
}

@media (min-width:1200px) {
    .card-pricing .card-price__old {
        font-size: 1.75rem;
    }

    .card-pricing .card-price__actual {
        font-size: 2rem;
    }
}

/* section-testimonial */

.section-testimonial {
    position: relative;
    overflow: hidden;
}

.section-testimonial .section-heading {
    text-align: center;
}

.swiperTestimonial {
    /* overflow: visible; */
}

.swiperTestimonial .swiper-slide {
    width: 360px;
}

/* section-contacts */

.section-contacts {
    position: relative;
}

.contacts-btn-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*//////////////////////////////////////////////////////////////////
[ MEDIA ]*/

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}